<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDENCE NHCE</title>
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
     <!-- nav bar for menu -->
     <nav class="navigation max_width1 m-auto">
        <div class="nav-left">
            <img src="img/nhce.png" alt="">
            
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/teacher">Teacher</a></li>
                <li><a href="/student">Student</a></li>
                <li><a href="Admin">Admin</a></li>
            </ul>

        </div>
            <div class="nav-right">
                <input type="text" class="form-input" placeholder="search">
                <button class="btn">Search</button>
        </div>
    </nav>
    <!-- line breake -->
    <div class="max_width1 m-auto"><hr></div>
    <main id="site-main">
        <center>
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <br><br>
                <div class="filter">
                    <a href="/Admin"><i class="fas fa-angle-double-left"></i>View All Students</a>
                </div>
            </div>
            <div class="form-title-text-center">
                <h2 class="text-dark">New Student</h2>
                <span class="text">Enter the new student details</span>
            </div>
            <br>    
            <form action="/api/users" method="POST" id="add_user">
                <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text">Name</label>
                    <input type="text" name="name" value="" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="usn" class="text">USN&nbsp</label>
                    <input type="text" name="usn" value="" placeholder="Enter usn">
                </div>
             </div>
                <br>
                <br>
                <div class="form-group">
                    <button class="btn">Submit</button>
                </div>
            </form>
        </div>
    </center>
    </main>
    <src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <src="/js.msg.js"></src>
</body>
</html>