<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDENCE NHCE</title>
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- nav bar for menu -->
    <nav class="navigation max_width1 m-auto">
        <div class="nav-left">
            <img src="img/nhce.png" alt="">

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/teacher">Teacher</a></li>
                <li><a href="/student">Student</a></li>
                <li><a href="admin_login">Admin</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <input type="text" class="form-input" placeholder="search">
            <button class="btn">Search</button>
        </div>
    </nav>
    <!-- line breake -->
    <div class="max_width1 m-auto">
        <hr>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search)
        // console.log(params)
        // console.log(params['usn'])
        ar=[]
    for (const param of params) {
    console.log(param)  
    ar.push(param)  
    }
    
    document.write(' <br><center><h2>USN : '+ar[0][1]+' </h2></center>')
    document.write(' <center><h2>Name : '+ar[1][1]+' </h2></center>')
    document.write(' <center><h2>Class : IV C </h2></center>')
    document.write(' <center><h2>Subject : OOPs with Java </h2></center>')
    document.write(' <center><h2>Number of classes present :'+ar[2][1]+' </h2></center>')
    document.write(' <center><h2>Total number of classes:'+ar[3][1]+' </h2></center>')
    document.write('<div id="chartContainer" style="height: 370px; width: 100%;"></div> -->')
    
    presentPercent=ar[2][1]/ar[3][1]*100
    console.log*presentPercent
    absentPercent=100-presentPercent
    window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    // title: {
    //     text: "Attendance"
    // },
    data: [{
        type: "pie",
        startAngle: 240,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [
            { y: presentPercent, label: "Present" },
            { y: absentPercent, label: "Absent" },
        ]
    }]
});
chart.render();
}
    if(presentPercent<75)
    document.write('<center>Your Attendance is low</center>')
    else
    document.write('<center>Your attendance is normal</center>')
    </script>
</body>

</html>