
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDENCE NHCE</title>
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <!-- nav bar for menu -->
    <nav class="navigation max_width1 m-auto">
        <div class="nav-left">
            <img src="img/nhce.png" alt="">

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/teacher">Teacher</a></li>
                <li><a href="student">Student</a></li>
                <li><a href="admin_login">Admin</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <input type="text" class="form-input" placeholder="search">
            <button class="btn">Search</button>
        </div>
    </nav>
    <div class="max_width1 m-auto">
        <hr>
    </div>
    <div class="teacher_form max_width1 m-auto">
        <br><br>
        <form>
            <!-- <div class="content max_width1 m-auto">    -->
            <div class="box-content m-auto m-auto">
                
                <div class="forms">
                    <h2>Student Login</h2>
                    <% for(var i=0;i<users.length;i++){%>
                            <input type="hidden" name="usn" value="<%=users[i].usn%>">
                            <input type="hidden" name="name" value="<%=users[i].name%>">
                            <input type="hidden" name="present" value="<%=users[i].present%>">
                            <input type="hidden" name="v" value="<%=users[i].__v%>">
                        
                    <%}%>
                        
                </div>
                <div class="forms">
                    <form>
                    <!-- <label>Username : </label> -->
                    <input type="text" class="form-input2" placeholder="Username" name="username" id="userInput" >
                </form>
                <div class="forms">
                    <!-- <a href="mark_att">Click here</a> -->
                    <button  type="submit" onclick="otname()" class="btn2">Login</button>      
                </div>
                </div>
                 <!-- <div class="forms">

                    <button  type="submit" onclick="location.href='student_login';" class="btn2">Login</button>
                </div> -->
                <!-- <div class="forms">
                    <input type="checkbox" checked="checked"> Remember me
                    <button type="button" class="btn"> Cancel</button>
                    Forgot <a href="#"> password? </a>
                </div> -->

                <!-- </div> -->
            </div>
        </form>
    </div>
    <div class="about max_width1 m-auto contact">
        <div>
            <span>phone <br> 97324789/92384779823</span>
        </div>
        <div>
            <span>gmail <br> managment@newhorizonindia.edu</span>
        </div>
    </div>
    <!-- this for footer  copyright thing -->
    <div class="footer max_width1 m-auto">
        <span>&#169 New horizon Educational Institution</span>
    </div>
</body>
<script>
function otname(){
// var input = document.getElementById("userInput").value;
// alert(input);
// window.open("student-page","_self")
var usn=document.getElementsByName("usn");
var name=document.getElementsByName("name");
var present=document.getElementsByName("present");
var vv=document.getElementsByName("v");
// const map1 = new Map();
u=[]
n=[]
p=[]
v=[]
for(var i=0;i<usn.length;i++){
u.push(usn[i].value)
n.push(name[i].value)
p.push(present[i].value)
v.push(vv[i].value)

// map1.set('usn',usn[i].value)
// map1.set('name',name[i].value)
}


var user = document.getElementById('userInput').value
user=user.toUpperCase()
console.log(user)
flag=0
index=0
for(i=0;i<u.length;i++)
{
    if(user==u[i]){
    index=i
    flag=1;break;}
}
if(flag==1){
//   if (user == "hi") {
    window.open("student-page?usn="+u[index]+"&name="+n[index]+"&present="+p[index]+"&v="+v[index],"_self")
    alert('correct username')
//   } else {
    // alert('incorrect username or password')
//   }
}
else
alert('Incorrect username')
}
</script>
</html>
