
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDENCE NHCE</title>
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <!-- nav bar for menu -->
    <nav class="navigation max_width1 m-auto">
        <div class="nav-left">
            <img src="img/nhce.png" alt="">

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/teacher">Teacher</a></li>
                <li><a href="student">Student</a></li>
                <li><a href="admin_login">Admin</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <input type="text" class="form-input" placeholder="search">
            <button class="btn">Search</button>
        </div>
    </nav>
    <div class="max_width1 m-auto">
        <hr>
    </div>
    <div class="teacher_form max_width1 m-auto">
        <br><br>
        <form>
            <!-- <div class="content max_width1 m-auto">    -->
            <div class="box-content m-auto m-auto">
                
                <div class="forms">
                    <h2>Student Login</h2>
                </div>
                <div class="forms">
                    <form>
                    <!-- <label>Username : </label> -->
                    <input type="text" class="form-input2" placeholder="Username" name="username" id="userInput" >
                    <input type="submit" class="form-input2" placeholder="Username" name="username" onclick="otname();">

                </form>
                </div>
                 <!-- <div class="forms">

                    <button  type="submit" onclick="location.href='student_login';" class="btn2">Login</button>
                </div> -->
                <!-- <div class="forms">
                    <input type="checkbox" checked="checked"> Remember me
                    <button type="button" class="btn"> Cancel</button>
                    Forgot <a href="#"> password? </a>
                </div> -->

                <!-- </div> -->
            </div>
        </form>
    </div>
    <div class="about max_width1 m-auto contact">
        <div>
            <span>phone <br> 97324789/92384779823</span>
        </div>
        <div>
            <span>gmail <br> managment@newhorizonindia.edu</span>
        </div>
    </div>
    <!-- this for footer  copyright thing -->
    <div class="footer max_width1 m-auto">
        <span>&#169 New horizon Educational Institution</span>
    </div>
</body>
<script>
    function otname()
{
var input = document.getElementById("userInput").value;
alert(input);
}
</script>
</html>
