<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDENCE NHCE</title>
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- nav bar for menu -->
     <nav class="navigation max_width1 m-auto">
        <div class="nav-left">
            <img src="img/nhce.png" alt="">
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="teacher">Teacher</a></li>
                <li><a href="student">Student</a></li>
                <li><a href="Admin">Admin</a></li>
            </ul>

        </div>
            <div class="nav-right">
                <input type="text" class="form-input" placeholder="search">
                <button class="btn">Search</button>
        </div>
    </nav>
    <div class="max_width1 m-auto"><hr></div>
    <div class="teacher_form max_width1 m-auto">
        <br><br><br><br><br>
        <h2>Teacher's Login Page</h2><br>
        <br><br>
        <form>  
            <div class="container">   
                <label>Username : </label>   
                <input type="text" class="credential-input" placeholder="Enter Username" name="username" required>  
                <br>
                <br>
                <label>Password : </label>   
                <input type="password" class="credential-input" placeholder="Enter Password" name="password" required>  
                <br>
                <br>
                <button type="submit" class="butt">Login</button>  
                <button type="submit" class="butt">Register</button>  
                <br> <br>
                <input type="checkbox" checked="checked" class="check_box"> Remember me  <br>  
                Forgot <a href="#"> password? </a>   
            </div>   
        </form> 
    </div>
    <div class="T_content max_width2 m-auto"></div>
    <div class="about max_width1 m-auto contact">
        <div>
            <span>phone <br> 97324789/92384779823</span>
        </div>
        <div>
            <span>gmail <br> managment@newhorizonindia.edu</span>
        </div>
      </div>
      <!-- this for footer  copyright thing -->
      <div class="footer max_width1 m-auto">
           <span>&#169 New horizon Educational Institution</span>
      </div>
  </body>
  </html>